.liClass {
    background-color: aquamarine;
    color:black;
    font-size: 20px;
    width: 300px;
}



.buttonClass {
    background-color: indianred ;
    margin: 10px;
    color: white;
    font-size: 15px;
    border-radius: 5px;

}
